.menus .rss.fr {
  position: absolute;
  right: 0;
  top: 0;
}
.menus .rss.fr li:hover {
  background: none;
}
#navigation ul li:first-child,
#navigation ul li:first-child a {
  border-radius: 0;
}
#top .col-full li {
  background: rgba(0, 0, 0, 0);
}
#top .col-full li:hover {
  background: #555;
}
#top .col-full li a {
  color: #ddd;
  font: 300 14px/1.2em "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  text-decoration: none;
  padding: 1em;
}
#top .col-full li a:hover {
  background: #555;
}
.menus li {
  background: rgba(0, 0, 0, 0);
}
.menus li:hover {
  background: #E6E6E6;
}
.menus li a {
  color: #3088FF;
  font: 300 14px/1.2em "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  text-decoration: none;
  padding: 1em;
  text-align: left;
}
.menus li a:hover {
  background: #E6E6E6;
}
.topnav_section {
  position: relative;
  text-align: center;
}
.topnav_section:after {
  content: "";
  display: block;
  clear: left;
}
.topnav_section .nav_section {
  float: left;
  display: block;
  zoom: 1;
}
.topnav_section .nav_section:after {
  content: "";
  display: block;
  clear: both;
}
.topnav_section .nav_section.first,
.topnav_section .nav_section.third {
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.topnav_section .nav_section.first > ul,
.topnav_section .nav_section.third > ul {
  display: block;
  margin: 0 20px;
}
.topnav_section .nav_section.first > ul:after,
.topnav_section .nav_section.third > ul:after {
  content: "";
  display: block;
  clear: both;
}
.topnav_section .nav_section.first > ul li,
.topnav_section .nav_section.third > ul li {
  border-right: 0px solid #DBDBDB;
  zoom: 1;
  font-size: 100%;
}
.topnav_section .nav_section.second {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
}
.topnav_section .nav_section.first > div,
.topnav_section .nav_section.first > ul {
  float: right;
}
.topnav_section .nav_section.first ul li {
  float: right;
}
.topnav_section .nav_section.first ul li li {
  float: none;
}
.topnav_section .nav_section.third > div,
.topnav_section .nav_section.third > ul {
  float: left;
}
.topnav_section .nav_section.third ul li {
  float: left;
}

#navigation .cart
{
    display: none;
}

@media only screen and (max-width: 767px) {
  .menus .topnav_section .nav_section {
    float: none;
    width: auto;
  }
  .menus .nav_m {
    display: none;
  }
  .topnav_section .nav_section.first,
  .topnav_section .nav_section.third {
    width: auto;
    padding: 0 !important;
  }
  .topnav_section .nav_section.first ul,
  .topnav_section .nav_section.third ul {
    float: none;
    margin: 0;
  }
  .topnav_section .nav_section.first ul li,
  .topnav_section .nav_section.third ul li {
    float: none;
  }
  .topnav_section div.nav_section.second {
    display: none;
  }
}
